// colors
$raven: #717C89;
$citrineWhite: #FAF3DD;
$coriander: #C8D5B9;
$summerGreen: #8FC0A9;
$tradewind: #68B0AB;
$pomegranate: #F4442E;
$offWhite: #FEFBF7;
// fonts
$fredoka: 'Fredoka One', 'Arial Rounded MT Bold', Gadget, sans-serif, cursive;
$opensans: 'Open Sans', sans-serif;
